*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: black;
    color: white;
    gap: 1rem;
    padding: 150px;
    width: 350px;
    border-radius: 2.5rem;
    position: relative;
    padding-left: 25px;
    padding-bottom: 45px;

}

.col{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 2rem;
    padding: 2rem;
    background-color: lightgray;
    cursor: pointer;
}

.opt{
    background-color: rgb(228, 165, 81);
    color: white;
}

.num{
    background-color: rgb(81, 79, 79);
    color: white;
}

.dot{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.zero{
    grid-column: 1 / 3;
  border-radius: 5rem;
  padding-inline-end: 7rem;
}

.opt1{
    background-color: rgb(172, 169, 169);
}

.zero,
.equal,
.dot{
    background-color: rgb(81, 79, 79);;
}